<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.ygordoring.ajude_se"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAjudese"
        tools:targetApi="31" >
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.ygordoring.ajude_se.ui.view.MainActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.WaterCountActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.PharmaciesActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.SugestionsActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.DataUsersActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.ListCalcActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.ImcActivity"
            android:exported="false" />
        <activity
            android:name="dev.ygordoring.ajude_se.ui.viewmodel.TmbActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <!-- Ygor Doring-->